@media all and (min-width: 480px) {
    .Registration {
      padding: 60px 0;
    }
  
    .Registration h3 {
      text-align: center;
    }

    .Registration form {
      margin: 0 auto;
      max-width: 320px;
    }
  }